.one{
    flex: 35%;
    background-color: coral;
    height: 50px;
}

.header{
    display: flex;
    text-align: right;
    margin: auto;
}
.headerin{
    text-align: center;
    flex: 20%;
    background-color: antiquewhite;
}
.cricle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid;
}
.headerout{
    flex: 80%;
   
}
.headerout ul{
    list-style-type: none;
}
.headerout ul li {
    display: inline;
    
    font-size: 20px;
    
}
.headerout ul li a{
    color: black;
    text-decoration: none;
    padding: 20px;
}
